PG_USERNAME=postgres
PG_PASSWORD=postgres
PG_HOST=postgres
PG_PORT=5432
PG_DBNAME=hydroprocess

VITE_APP_NAME=hydroprocess_db

# for nested static deployment, set VITE_APP_BASE=/swot-data-viewer/
VITE_APP_BASE=/

VITE_APP_API_URL=https://localhost/api

ALLOW_ORIGINS=http://localhost:5173